@mixin font-Lato($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/Lato/'+$font-file+'.woff') format('woff'),
      url('../fonts/Lato/'+$font-file+'.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
}

@mixin font-YesevaOne($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/YesevaOne/'+$font-file+'.woff') format('woff'),
      url('../fonts/YesevaOne/'+$font-file+'.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
}

/*100 - Thin
200 - Extra Light (Ultra Light)
300 - Light
400 - Normal
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/
