.orangeText{
    color:$primaryColor;
font-weight: $heading;

}
p{
font-size: 28px;
line-height: 44px;
letter-spacing: $letterSpacing;
font-weight: $text;
padding: 0 20px;
}
h1{
    padding: 45px 20px;
    margin: 0;
font-family: $headerFontFamily;
font-weight: $heading;
font-size: 56px;
line-height: 78px;
letter-spacing: $letterSpacing;
}