html,
div {
  font-family: $generalFontFamily;
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    background-color: $dividerColor;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $dividerColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
  }
}

body {
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
