@include font-Lato('Lato', 'Lato-Regular');
@include font-Lato('LatoLight', 'Lato-Light');
@include font-Lato('LatoMedium', 'Lato-Medium');
@include font-Lato('LatoBold', 'Lato-Bold');
@include font-Lato('LatoHeavy', 'Lato-Heavy');

@include font-YesevaOne('YesevaOne', 'YesevaOne-Regular');

html,
body,
#root {
  font-family: $generalFontFamily;
  height: 100%;
  box-sizing: border-box;
}

body {
  @extend .custom-scroll;

  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.custom-scroll {
  &::-webkit-scrollbar-track {
    background-color: $grey-200;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: $grey-200;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $orange-500;
  }
}
