p {
	font-size: $normalFontSize;
	line-height: 44px;
	letter-spacing: $letterSpacing;
	font-weight: $text;
	padding: $gutterWidth 2*$gutterWidth;
	font-family: $generalFontFamilyLight;
}
h1 {
	padding: $gutterWidth 2*$gutterWidth;
	margin: 0;
	font-family: $headerFontFamily;
	font-weight: $heading;
	font-size: $headerFontSize;
	line-height: 78px;
	letter-spacing: $letterSpacing;
}
b {
	font-size: $normalFontSize;
	font-weight: $heading;
	letter-spacing: $letterSpacing;
}
.verticalLine {
	@include divider();
}
hr {
	@include divider();
}
p {
	> .orangeText {
		color: $primaryColor;
		font-family: $generalFontFamilyMedium;
	}
}
.orangeText {
	color: $primaryColor;
}
