.viewMore {
  @include btn-standard-transparent();
  color: $primaryColor;
  min-width: fit-content;
  padding: 0;
  min-height: fit-content;

  >img {
    margin-top: 0.2rem;
    margin-left: 1rem;
  }
}

.MainSection {
  @include section();
  color: white;
  position: relative;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -2;
    background-image: url("../images/HomeBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .grad {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
    opacity: 0.2;
    height: 100%;
    background-color: black;
  }

  @include desktop-320-767() {}

  align-content: center;
  justify-content: center;

  >span {
    @include desktop-320-767() {
      margin-left: $gutterWidth*1.6;
    }

    @include display-row();
    margin-left: $gutterWidth*2;

    padding: 1.6*$gutterWidth 0;
  }

  .donate {
    @include desktop-320-767() {
      @include btn-standard(0.8);
    }

    a {
      color: black;
    }

    @include btn-standard();
  }

  .learnmore {
    text-transform: uppercase;
    padding: $gutterWidth $gutterWidth;

    @include desktop-320-767() {
      @include btn-standard-transparent(0.8);
    }

    @include btn-standard-transparent();
  }
}

.AboutUsSection {
  @include section();

  button {
    margin-left: $gutterWidth*2;
  }

  @include desktop-320-767() {
    button {
      margin-left: $gutterWidth*1.6;
    }
  }
}

.OurWorkSection {
  @include section();

  .workContainer {
    @include display-row();
    padding: 0 2*$gutterWidth;

    .imgMainContainer {
      @include image-container(1.75);
      height: fit-content;
    }

    .imgSmallContainer {
      @include display-column();

      div {
        display: grid;
        grid-template-rows: auto auto;
        width: fit-content;
        row-gap: 1rem;
        height: auto;
        margin-left: $gutterWidth;

        >span {
          @include display-row();
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 1rem;
        }

        .imgContainer {
          @include image-container(1);
          height: fit-content;
        }
      }

      >button {
        margin-left: auto;
      }
    }
  }

  @include desktop-0-1281() {
    .workContainer {
      @include display-column();
      width: fit-content;

      .imgMainContainer {
        width: 100%;
      }

      .imgSmallContainer {
        >div {
          margin-left: 0;
          margin-top: $gutterWidth;
        }
      }
    }
  }

  @include desktop-320-767() {
    .workContainer {
      @include display-column();
      width: calc(100vw - #{3.2*$gutterWidth});
      padding: 0 1.6*$gutterWidth;

      .imgMainContainer {
        @include image-container(1.2);
        height: auto;
        width: 100%;
      }

      .imgSmallContainer {
        >div {
          >span {
            .imgContainer {
              @include image-container(0.6);
              height: auto;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.DonateSection {
  @include section();

  .verticalLine {
    @include desktop-320-767() {
      margin: 3*$gutterWidth $gutterWidth;
    }

    margin-top: 13*$gutterWidth;
    margin-bottom: 4*$gutterWidth;
  }

  .donateContainer {
    @include desktop-320-767() {
      @include display-column();
    }

    @include display-row();

    >.donateSchemesContainer {
      @include desktop-320-767() {
        height: calc(100vh - #{6*$gutterWidth});
        width: 100%;
      }

      @include display-column();

      .donateSchemes {
        @include desktop-320-767() {
          padding: 0 $gutterWidth*1.6;
          margin-top: $gutterWidth*1.6;
        }

        @include display-column();
        margin-top: 2*$gutterWidth;
        padding: 0 2*$gutterWidth;

        .donateSchemeContainer {
          input[type=radio] {
            position: absolute;
            opacity: 0;
            margin: 0;
            padding: 0;
          }

          input:checked {
            +.donateSchemeContainerContent {
              padding-bottom: 5rem;

              @include desktop-320-767() {
                padding-bottom: 6*$gutterWidth;
              }

              .donateSchemeName {
                z-index: 0;

                img {
                  transform: rotate(90deg);
                }
              }

              .donateSchemeContent {
                >.donate {
                  max-height: 100vh;
                  opacity: 1;
                }
              }
            }
          }

          .donateSchemeContainerContent {
            position: relative;
            transition: all .4s ease-in-out;
            height: fit-content;

            .donate {
              @include desktop-320-767() {
                position: unset;
                margin-top: 0.6*$gutterWidth;

                margin-left: 1.7*$gutterWidth;
              }

              @include btn-standard(0.8);
              color: white;
              position: absolute;
              top: 0.6rem;
              right: 0;
              max-height: 0;
              transition: opacity .4s ease-in-out,
              max-height .4s ease-in-out;
              opacity: 0;
            }

            overflow: hidden;
            @include display-column();
            cursor: pointer;

            .donateSchemeName {
              >img {
                @include desktop-320-767() {
                  margin-right: 0.5*$gutterWidth;
                }

                margin-right: 1.1*$gutterWidth;
                transition: all .4s ease-in-out;
              }

              @include display-row();
              cursor: pointer;
              text-transform: uppercase;
              font-size: 1.2rem;
              padding: $gutterWidth;

              @include desktop-320-767() {
                padding: $gutterWidth*0.8;
              }

              align-content: center;
              align-items: center;
              z-index: 10;
            }

            .donateSchemeContent {

              .schemeContentAmount,
              .schemeContentDuration {
                color: $primaryGreyColor;
              }

              max-height: 0;
              padding: 0 1rem;
              display: grid;
              grid-template-rows: auto auto;

              >span {
                @include desktop-320-767() {
                  padding-right: 0;
                  padding-left: 1.7*$gutterWidth;
                }

                display: grid;
                grid-template-columns: auto 4*$gutterWidth;
                padding: 0.1*$gutterWidth 1.5*$gutterWidth 0.1*$gutterWidth 2.5*$gutterWidth;
              }
            }
          }
        }
      }
    }

    >.donateAmountContainer {
      @include desktop-320-767() {
        width: 100%;
        height: 100vh;
      }

      @include display-column();
      width: 50%;

      >.donateAmount {
        @include desktop-320-767() {
          @include display-column();
          align-items: normal;
          margin-top: 1.6*$gutterWidth;
          padding: 0 1.6*$gutterWidth;
        }

        @include display-row();
        align-content: center;
        align-items: center;
        margin-top: 2*$gutterWidth;
        padding: 0 2*$gutterWidth;

        .donateInput {
          @include desktop-320-767() {
            @include display-column();
            margin-right: 0;
            width: auto;
            margin-bottom: $gutterWidth;
            @include input(0.8);
            padding-left: 2rem;
          }

          @include input(1);
          position: relative;
          padding-left: 2rem;
          margin-right: 1*$gutterWidth;

          &:focus {
            +.rupeeSymbol {
              opacity: 1;
            }
          }

          &:valid {
            +.rupeeSymbol {
              opacity: 1;
            }
          }
        }

        .rupeeSymbol {
          position: absolute;
          width: 0.9rem;
          margin-left: 0.8*$gutterWidth;
          opacity: 0;

          @include desktop-320-767() {
            margin-top: 0.8*$gutterWidth;
          }
        }

        .donate {
          @include btn-standard(0.8);
          color: white;
        }
      }
    }
  }
}

.Error404Section {
  @include display-column();
  width: 100%;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;

  .goHome {
    a {
      color: white;
      text-decoration: none !important;
    }
  }
}

.ComingSoonSection {
  @include display-column();
  width: 100%;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  height: 100vh;
}

.goHome {
  @include btn-standard();
  color: white;
  margin: 0 $gutterWidth*2;
}

.OurStorysection {
  @include section();
}

.OurEndeavourssection {
  @include section();
}

.OurTeamsection {
  @include section();

  .teamContainer {
    @include desktop-320-767() {
      @include display-column();
      padding: 0 1.6*$gutterWidth;
    }

    @include display-column();
    padding: $gutterWidth 0 $gutterWidth $gutterWidth*2;

    >span {
      @include desktop-320-767() {
        @include display-column();
        padding: 0;
        justify-content: space-between;
      }

      @include display-row();
      padding: $gutterWidth 0;
      justify-content: space-between;
    }

    .teamMemberContainer {
      @include desktop-320-767() {
        margin-bottom: $gutterWidth;
        width: calc(100vw - #{3.2*$gutterWidth});
      }

      @include display-row();
      width: 40rem;

      >img {
        @include desktop-320-767() {
          min-width: 40%;
          width: 40%;
          height: 6*$gutterWidth;
        }

        @include desktop-768-1024() {
          min-height: 6*$gutterWidth;

        }

        background: $hlBlack;
        width: 12.5rem;
        min-width: 10rem;
        height: 13.75rem;
      }

      >span {
        @include desktop-320-767() {
          padding: 0.6*$gutterWidth 0 0 $gutterWidth;
        }

        @include display-column();
        padding: 0.6*$gutterWidth 1.6*$gutterWidth;
      }

      .teamMemberName {
        @include desktop-320-767() {
          font-size: $mobileNormalFontSize;
          margin-bottom: 0.4*$gutterWidth;
        }

        font-size: $normalFontSize;
        font-family: $generalFontFamily;
        margin-bottom: $gutterWidth;
      }

      .teamMemberPost {
        @include desktop-320-767() {
          font-size: $mobileNormalFontSize;
        }

        font-size: $normalFontSize;
        font-family: $generalFontFamilyLight;
      }
    }
  }
}
