.TopBarContainer {
    @include desktop-320-767() {
        display: none;
    }

    @include desktop-320() {
        display: none;
    }

    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
}

.contact {
    position: relative;
    display: block;
    margin: auto 0 auto 0;
}

.web {
    position: relative;
    display: block;
}

.contactUs {
    font-family: "Lato";
    text-decoration: none;
    color: white;
    font-size: 28px;
}
