.TopBarContainer {
  @include desktop-320-767() {
    display: none;
  }

  @include desktop-320() {
    display: none;
  }

  display: flex;
  padding: 0;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 10;
  margin: 0;
  list-style: none;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  .activeLink {
    a {
      & {
        color: $primaryColor !important;
      }
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}
